body {
    background-image:url(ada.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.naik {
    width: 300px;
    height: 500px;
    background: #ffffff;
    z-index: 2;
    float: left;
    margin: 150px 25px 0 75px;
}
.rufat {
    width: 300px;
    height: 500px;
    background: #ffffff;
    z-index: 2;
    float: left;
    margin: 150px 25px 0 25px;
}
.vusal {
    width: 300px;
    height: 500px;
    background: #ffffff;
    z-index: 2;
    float: left;
    margin: 150px 25px 0 25px;
}
.farid {
    width: 300px;
    height: 500px;
    background: #ffffff;
    z-index: 2;
    float: left;
    margin: 150px 25px 0 25px;
}
.naik:hover {
    width: 320px;
    height: 520px;
    margin: 140px 15px 0 65px;
}
.rufat:hover {
    width: 320px;
    height: 520px;
    margin: 140px 15px 0 15px;
}
.vusal:hover {
    width: 320px;
    height: 520px;
    margin: 140px 15px 0 15px;
}
.farid:hover {
    width: 320px;
    height: 520px;
    margin: 140px 15px 0 15px;
}
.naiknm {
    margin: 30px 0 0 0;
    text-align: center;
    font: bold 25px barlow;
}
.rufatnm {
    margin: 30px 0 0 0;
    text-align: center;
    font: bold 25px barlow;
}

.vusalnm {
    margin: 30px 0 0 0;
    text-align: center;
    font: bold 25px barlow;
}

.faridnm {
    margin: 30px 0 0 0;
    text-align: center;
    font: bold 25px serif;
}


