body {
    background-image: linear-gradient(#000000, #3d3d3d);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 115%;
}
.naik {
    width: 275px;
    height: 500px;
    background: #ffffff;
    z-index: 2;
    float: left;
    margin: 250px 25px 0 75px;
    transition: 200ms;
}
.rufat {
    width: 275px;
    height: 500px;
    background: #ffffff;
    z-index: 2;
    float: left;
    margin: 250px 25px 0 25px;
    transition: 200ms;
}
.vusal {
    width: 275px;
    height: 500px;
    background: #ffffff;
    z-index: 2;
    float: left;
    margin: 250px 25px 0 25px;
    transition: 200ms;
}
.farid {
    width: 275px;
    height: 500px;
    background: #ffffff;
    z-index: 2;
    float: left;
    margin: 250px 25px 0 25px;
    transition: 200ms;
}
.naik:hover {
    width: 350px;
    height: 550px;
    margin: 200px 30px 0 15px;
    transition: 150ms ease-in-out;
}
.rufat:hover {
    width: 350px;
    height: 550px;
    margin: 200px 30px 0 15px;
    transition: 150ms ease-in-out;
}
.vusal:hover {
    width: 350px;
    height: 550px;
    margin: 200px 30px 0 15px;
    transition: 150ms ease-in-out;
}
.farid:hover {
    width: 350px;
    height: 550px;
    margin: 200px 30px 0 15px;
    transition: 150ms ease-in-out;
}
.naiknm {
    margin: 30px 0 0 0;
    text-align: center;
    font: bold 25px barlow;
}
.rufatnm {
    margin: 30px 0 0 0;
    text-align: center;
    font: bold 25px barlow;
}

.vusalnm {
    margin: 30px 0 0 0;
    text-align: center;
    font: bold 25px barlow;
}

.faridnm {
    margin: 30px 0 0 0;
    text-align: center;
    font: bold 25px serif;
}

.naiktxt {
    text-align: left;
    font-family: Georgia;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 13px;
}

.teamlogo {
    position: fixed;
}