body {
    background-image: linear-gradient(#000000, #3d3d3d);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
.logo1{
    margin: 0 auto 0 auto;
    width: 200px;
    height: 165px;
}
.naik {
    width: 300px;
    height: 500px;
    background: #ffffff;
    z-index: 2;
    float: left;
    margin: 50px 25px 200px 75px;
    transition: 200ms;
}
.rufat {
    width: 300px;
    height: 500px;
    background: #ffffff;
    z-index: 2;
    float: left;
    margin: 50px 25px 200px 25px;
    transition: 200ms;
}
.vusal {
    width: 300px;
    height: 500px;
    background: #ffffff;
    z-index: 2;
    float: left;
    margin: 50px 25px 200px 25px;
    transition: 200ms;
}
.farid {
    width: 300px;
    height: 500px;
    background: #ffffff;
    z-index: 2;
    float: left;
    margin: 50px 25px 200px 25px;
    transition: 200ms;
}
.naik:hover {
    width: 320px;
    height: 520px;
    margin: 40px 15px 200px 65px;
}
.rufat:hover {
    width: 320px;
    height: 520px;
    margin: 40px 15px 200px 15px;
}
.vusal:hover {
    width: 320px;
    height: 520px;
    margin: 40px 15px 200px 15px;
}
.farid:hover {
    width: 320px;
    height: 520px;
    margin: 40px 15px 200px 15px;
}
.naiknm {
    margin: 30px 0 0 0;
    text-align: center;
    font: bold 25px barlow;
}
.rufatnm {
    margin: 30px 0 0 0;
    text-align: center;
    font: bold 25px barlow;
}

.vusalnm {
    margin: 30px 0 0 0;
    text-align: center;
    font: bold 25px barlow;
}

.faridnm {
    margin: 30px 0 0 0;
    text-align: center;
    font: bold 25px serif;
}
.naiktext {
    width: 250px;
    text-align: center;
    font-family: Georgia;
    margin: 30px auto;
    font-size: 14px;
}


